* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

body {
    font-family: "Circular Std";
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container-fluid {
    width: 1300px;
    margin: 0 auto;
}

.header {
    background-image: radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
    padding: 10px 0;
}

.header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    color: white;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link::after {
    content: "";
}

.nav-link:hover {
    color: #F04037;
}

.header-link {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #F04037;
    border-radius: 5px;
    font-size: 16px;
}

.header-link:hover {
    background-color: white;
    color: red;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.header-info {
    width: 45%;
    padding-bottom: 20px;
}

.menu{
    display: none;
}

.bars-icon{
    padding: 2px;
}

.info-title {
    font-size: 80px;
    color: white;
}

.info-text {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0;
}

.info-link {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: #F0544C;
    border-radius: 5px;
}

.info-link:hover {
    background-color: white;
    color: red;
}

.info-mini-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding-top: 15px;
}

.bitmap {
    width: 55%;
    height: 600px;
}

.features {
    background-color: #F2F2F2;
    padding-top: 80px;
}

.features .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-box {
    padding: 0 40px;
    transition: 0.4s;
}

.feature-box:hover {
    transform: scale(1.1);
}

.feature-box-title {
    font-size: 24px;
    padding: 15px 0;
}

.feature-box-text {
    font-size: 16px;
    color: #696871;
    line-height: 1.5;
}

.hr {
    border: 1px solid #EAE9F2;
    margin-top: 60px;
}


.logos .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 40px;
    filter: grayscale(1);
    width: 20%;
}

.logo:hover {
    cursor: pointer;
    filter: grayscale(0);
}

.beautiful-page .container {
    background-image: url("./img/BG.png");
    background-repeat: no-repeat;
    background-position: right;
    margin: 50px auto;
}


.beautiful-page-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 20px;
}

.beautiful-page-title {
    font-size: 60px;
}

.beautiful-page-text {
    font-size: 21px;
    color: #696871;
    padding: 20px 0;
    line-height: 1.5;
}

.beautiful-page-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.beautiful-page-item {
    width: 45%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.beautiful-page-icon-text {
    padding-left: 10px;
    font-size: 18px;
    color: #19191B;
    font-weight: bold;
}

.fitting-page {
    padding-top: 100px;
}

.fitting-page .container {
    display: flex;
    justify-content: space-around;
}

.fitting-page-info {
    width: 44%;
    padding-top: 40px;
}

.fitting-page-title {
    font-size: 60px;
}

.fitting-page-text {
    color: #696871;
    font-size: 21px;
    padding: 20px 0;
    line-height: 1.5;
}

.fitting-page-box {
    display: flex;
    width: 75%;
    padding-top: 50px;
}

.fitting-page-box-info {
    padding-left: 20px;
}

.fitting-page-box-info-title {
    font-size: 21px;
    color: #19191B;
}

.fitting-page-box-info-text {
    color: #696871;
    font-size: 16px;
    padding: 15px 0;
    line-height: 1.5;
}

.fitting-page-box-icon {
    width: 30px;
    height: 30px;
}

.customers-title {
    font-size: 60px;
    text-align: center;
}

.customers-text {
    color: #696871;
    font-size: 21px;
    padding: 20px 0;
    text-align: center;
    line-height: 2;
}

.customers-box {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    padding: 10px 0;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.102519);
    border-radius: 10px;
}

.customers-box-info {
    width: 50%;
    text-align: center;
    line-height: 1.5;
}

.customers-box-info-text {
    font-size: 21px;
    padding: 20px 0;
}


.customers-box-info-job {
    color: #696871;
}

.percentage {
    padding-top: 50px;
}

.percentage .container {
    display: flex;
    justify-content: space-around;
}

.percentage-box {
    width: 30%;
}

.percentage-number {
    font-size: 60px;
    color: #5454D4;
    text-align: center;
}

.percentage-text {
    color: #696871;
    text-align: center;
    line-height: 1.5;
    padding: 20px 0;
    font-size: 21px;

}


.pricing {
    padding-bottom: 300px;
    padding-top: 100px;
}

.pricing-title {
    font-size: 60px;
    text-align: center;
}

.pricing-text {
    font-size: 21px;
    color: #696871;
    line-height: 1.5;
    text-align: center;
    padding: 20px 0;
}

.pricing-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.check:checked+.toggler {
    background-color: green;
    left: 95%;
    transform: translate(-100%, -50%);
}

.label {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    background-color: #EAE9F2;
    padding: 3px;
}

.toggler {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5%;
    right: auto;
    transform: translateY(-50%);
    transition: left 0.4s, transform 0.4s;
    border-radius: 50%;
    background-color: red;
}

.pricing-info-text {
    padding: 0 40px;
    color: #696871;
}

.pricing-info-link {
    text-decoration: none;
    background-color: #F04037;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
}

.pricing-info-link:hover {
    background-color: rgb(226, 223, 223);
    color: red;

}

.trial {
    background-color: #19191B;
    position: relative;
}

.trial-box {
    background-color: #FFFFFF;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.102519);
    border-radius: 10px;
    text-align: center;
    margin: 0 50px;
    padding: 20px 100px;
    position: absolute;
    transform: translate(-55%, -50%);
}

.trial-box2 {
    background-color: #FFFFFF;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.102519);
    border-radius: 10px;
    text-align: center;
    margin: 0 50px;
    padding: 20px 100px;
    position: absolute;
    transform: translate(55%, -50%);
}

.trial .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trial-box-link {
    text-decoration: none;
    font-size: 16px;
    color: #5454D4;
}

.trial-box-price {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.trial-box-user {
    color: #696871;
}

.span {
    font-size: 20px;
}

.trial-list {
    padding: 35px 0;
}

.trial-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.trial-item-text {
    margin-left: 5px;
}

.trial-footer-link {
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 0;
    background-color: #5454D4;
    border-radius: 5px;
}

.trial-footer-link:hover {
    background-color: rgb(197, 196, 196);
    color: blue;
}

.trial-info {
    padding-top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trial-info-box {
    width: 40%;
    display: flex;
    padding-bottom: 30px;
}

.trial-box-title {
    color: white;
    font-size: 24px;
}

.trial-box-text {
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
}


.trial-icon {
    height: 20px;
    padding-top: 5px;
}

.trial-info-box-info {
    margin-left: 15px;
}

.trial-footer-box {
    padding: 100px 0;
    text-align: center;
}

.trial-footer-title {
    font-size: 60px;
    color: white;
}

.trial-footer-text {
    color: #696871;
    font-size: 21px;
    padding: 20px 0;
}

.trial-footer-start-link {
    text-decoration: none;
    color: white;
    background-color: #F0544C;
    padding: 10px 20px;
    border-radius: 5px;
}

.trial-footer-start-link:hover {
    background-color: white;
    color: red;
}

.trial-footer-card {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
}

.footer {
    padding: 100px 0;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 250px;
    padding: 0 20px;
}

.homepage-link {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.homepage-link:hover {
    text-decoration: underline;
}

.homepage-text {
    padding: 20px 0;
    font-size: 16px;
    color: #696871;
}

.icons-link {
    text-decoration: none;
    color: black;
}

.icons-link:hover {
    color: blue;
}


.footer-nav-item {
    padding-bottom: 20px;
}

.footer-nav-text {
    color: #19191B;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    color: #19191B;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link-last {
    text-decoration: none;
}

.footer-link-last:hover {
    text-decoration: underline;
}


/* OK */
@media (max-width: 1320px) {
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }

}

/* OK */

@media (max-width: 1220px) {
    .container-fluid {
        width: 1100px;
        margin: 0 auto;
    }
}

/* OK */

@media (max-width: 1160px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .header .container {
        justify-content: center;
    }

    .info-text {
        list-style: 2;
    }

    .header-info {
        width: 55%;
    }

    .info-title {
        font-size: 50px;
    }

    .bitmap {
        width: 40%;
    }

    .beautiful-page-title,
    .fitting-page-title,
    .customers-title,
    .pricing-title,
    .trial-footer-title,
    .percentage-number {
        font-size: 40px;
    }

    .beautiful-page .container {
        background-size: 500px;
    }
}

/* OK */

@media (max-width: 1120px) {
    .container-fluid {
        width: 1000px;
        margin: 0 auto;
    }
}

/* OK */

@media (max-width: 1020px) {
    .container-fluid {
        width: 900px;
        margin: 0 auto;
    }

    .container {
        width: 900px;
        margin: 0 auto;
    }

}

/* OK */

@media (max-width: 920px) {
    .container-fluid {
        width: 800px;
        margin: 0 auto;
    }

    .container {
        width: 800px;
        margin: 0 auto;
    }

    .beautiful-page-item {
        width: 40%;
    }

    .fitting-img {
        width: 30%;
    }

    .customers-page {
        padding-top: 50px;
    }

    .trial-box,
    .trial-box2 {
        width: 43%;
    }
}

/* OK */

@media (max-width: 820px) {
    .container-fluid {
        width: 700px;
        margin: 0 auto;
    }

    .container {
        width: 700px;
        margin: 0 auto;
    }

    .header .container {
        flex-direction: column-reverse;
        padding-top: 30px;
    }

    .bitmap {
        width: 600px;
        height: 300px;
    }

    .header-info {
        width: 80%;
        text-align: center;
        padding-top: 0;
    }

    .logos {
        flex-wrap: wrap;
    }

    .beautiful-page .container {
        background-size: 400px;
    }

    .beautiful-page-title,
    .fitting-page-title,
    .customers-title,
    .pricing-title,
    .trial-footer-title,
    .percentage-number,
    .info-title {
        font-size: 30px;
    }

    .info-text,
    .pricing-text,
    .homepage-text,
    .customers-text,
    .info-mini-text,
    .trial-box-text,
    .footer-nav-text,
    .percentage-text,
    .trial-item-text,
    .feature-box-text,
    .fitting-page-text,
    .pricing-info-text,
    .fitting-page-box-info-text,
    .beautiful-page-icon-text,
    .customers-box-info-text,
    .pricing-info-text,
    .beautiful-page-text,
    .trial-footer-text {
        font-size: 14px;
    }
}

/* OK */

@media(max-width:720px) {
    .container-fluid {
        width: 600px;
        margin: 0 auto;
    }

    .container {
        width: 600px;
        margin: 0 auto;
    }

    .bitmap {
        width: 400px;
        height: 200px;
    }

    .features > .container{
        flex-direction: column;
        text-align: center;
    }

    .feature-box{
        padding: 20px 0;
    }

    .logos .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .logo{
        width: 30%;
    }

    .beautiful-page{
        padding-bottom: 0%;
        margin-bottom: 0;
    }

    .beautiful-page .container {
        background-image: none;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .beautiful-page-info{
        width: 85%;
    }

    .fitting-page{
        padding-top: 0;
    }

    .fitting-page .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .fitting-img{
        width: 200px;
    }

    .fitting-page-info{
        width: 80%;
    }

    .fitting-page-box{
        margin: 0 auto;
    }

    .customers-page{
        padding-top: 100px;
    }

    .customers-box{
        flex-direction: column;
    }

    .customer-photo{
        width: 200px;
        padding-bottom: 20px;
    }

    .customers-box-info{
        width: 80%;
    }

    .percentage{
        padding-top: 0;
    }

    .percentage-box{
        width: 80%;
        padding: 15px 0;
    }

    .percentage .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .percentage-text{
        padding: 5px 0;
    }

    .pricing{
        padding-top: 50px;
    }

    .trial .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .trial-box, .trial-box2{
        position: relative;
        width: 80%;
        transform: translateY(-250px);
        margin: 10px 0;
        width: 80%;
    }

    .trial-info{
        padding-top: 0;
        margin-top: -200px;

    }
}

/* OK */





@media (max-width: 620px){
    .container-fluid{
        width: 97%;
        margin: 0 auto;
    }

    .container {
        width: 500px;
        margin: 0 auto;
    }

    .logo{
        padding: 10px;
        width: 20%;
    }

    .beautiful-page{
        padding-bottom: 50px;
    }

    .fitting-img{
        width: 30%;
    }

    .fitting-page-info{
        padding-top: 0;
    }

    .fitting-page-box{
        width: 90%;
        padding-top: 10px;
    }

    .customers-page{
        padding-top: 50px;
    }

    .customers-box{
        margin-top: 0;
    }
}

/* OK */

@media(max-width: 520px){
    .container-fluid{
        width: 97%;
        margin: 0 auto;
    }

    .header-link{
        display: none;
    }

    .container{
        width: 400px;
        margin: 0 auto;
    }

    .pricing-info{
        display: flex;
        flex-direction: column;
    }

    .pricing-info-text{
        padding-top: 15px;
    }

    .trial-box, .trial-box2{
        width: inherit;
    }

    .trial-footer-link{
        padding: 5px 20px;
        
    }
    .footer-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-item{
        width: 40%;
    }
}

/* OK */


@media(max-width: 420px){
    .container-fluid{
        width: 97%;
        margin: 0 auto;
    }

    .nav-list{
        display: none;
    }

    .menu{
        display: inline-block;
    }

    .container{
        width: 97%;
        margin: 0 auto;
    }

}

/* OK */
